<!DOCTYPE html>
<html>
<body>
    <div class="login-centering-grid">
        <div id="create-account-wrapper" class="create-account-wrapper">
            <div class="create-account-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1200px-Marvel_Logo.svg.png" alt="Marvel Logo" style="width:1580;height:49px;">
                <h1 style="font-size:60px; text-align: center">Welcome to the Marvel Movie Searcher!</h1>
                <h2 style="font-size:30px; text-align:center; position:relative; top:-46px;"><i>Create an account below to get started, or log in to an existing account.</i></h2>

                <form action = "#" method = "post">
                    <p>Username: </p>
                    <p><input type="text" name = "nm"/></p>
                    <p>Password: </p>
                    <p><input type = "text" password = "pwd"/></p>
                    <p><input type = "submit" value = "submit"/></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>